spring:
  datasource:
    url: jdbc:h2:mem:usersdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

app:
  security:
    email-regex: "^[A-Za-z0-9+_.-]+@[A-Za-z0-9.-]+$"
    # Mínimo 8 caracteres, al menos una mayúscula, una minúscula y un número
    password-regex: "^(?=.*[A-Z])(?=.*[a-z])(?=.*\\d).{8,}$"
